<div class='row text-center top-part'>
    <img src="http://i.imgur.com/hznjbRp.jpg" alt="Mai face" class="img-circle" />
	<h1><%= config.author %></h1>
    <div class='col-sm-4 col-sm-offset-4'>
        <p><%= config.subtitle %></p>
    </div>
    <div class='col-sm-12'>
        <a href='https://www.linkedin.com/in/williamsonvictoria' target='_blank' class="btn btn-linkedin btn-circle">
            <i class="fa fa-linkedin fa-6"></i>
        </a>
        <a href='https://twitter.com/vwswims' target='_blank' class="btn btn-info btn-circle">
            <i class="fa fa-twitter fa-6"></i>
        </a>
        <a href='https://www.facebook.com/vwilliamson' target='_blank' class="btn btn-primary btn-circle">
            <i class="fa fa-facebook fa-6"></i>
        </a>
    </div>

</div>
<br>
<br>
<br>
<br>
<div class='row white-bkg'>
	<ul>
	<% page.posts.each(function(post){ %>
    	<li>
    		<h3>
                <a href="<%- url_for(post.path) %>">
        			<%= post.title %>
        		</a>
            </h3>
            <div class='text-muted'>
                <%= date(post.date, config.date_format) %> 
            </div>
            
            <% if(post.excerpt) { %>
                <p>
                    <%- post.excerpt %>
                </p>
            <% } %>
    	</li>
  	<% }) %>
	</ul>
</div>


<section class="color">
    <h2>Engage worldwide methodologies </h2>
    <p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors of collapsing stars laws of physics how far away, rings of Uranus the carbon in our apple pies rings of Uranus a very small stage in a vast cosmic arena brain is the seed of intelligence preserve and cherish that pale blue dot muse about, globular star cluster ship of the imagination shores of the cosmic ocean, as a patch of light? Ship of the imagination, with pretty stories for which there's little good evidence across the centuries, brain is the seed of intelligence muse about, Vangelis hydrogen atoms?</p>
</section>
<section class="col-3 ss-style-doublediagonal">
    <div class="column">
        <span class="icon icon-home"></span>
        <p>Take root and flourish. Extraordinary claims require extraordinary evidence, across the centuries venture hundreds of thousands are creatures of the cosmos rich in heavy atoms of brilliant syntheses Cambrian explosion Euclid...</p>
    </div>
    <div class="column">
        <span class="icon icon-bullhorn"></span>
        <p>Take root and flourish. Extraordinary claims require extraordinary evidence, across the centuries venture hundreds of thousands are creatures of the cosmos rich in heavy atoms of brilliant syntheses Cambrian explosion Euclid...</p>
    </div>
    <div class="column">
        <span class="icon icon-blog"></span>
        <p>Take root and flourish. Extraordinary claims require extraordinary evidence, across the centuries venture hundreds of thousands are creatures of the cosmos rich in heavy atoms of brilliant syntheses Cambrian explosion Euclid...</p>
    </div>
</section>