<div class='row text-center'>
	<h1><%= config.author %></h1>
    <p><%= config.subtitle %></p>

    <a href='https://www.linkedin.com/in/williamsonvictoria' target='_blank' class="btn btn-linkedin btn-circle">
        <i class="fa fa-linkedin fa-6"></i>
    </a>
    <a href='https://twitter.com/vwswims' target='_blank' class="btn btn-info btn-circle">
        <i class="fa fa-twitter fa-6"></i>
    </a>
    <a href='https://www.facebook.com/vwilliamson' target='_blank' class="btn btn-primary btn-circle">
        <i class="fa fa-facebook fa-6"></i>
    </a>

</div>
<div class='row'>
	<ul>
	<% page.posts.each(function(post){ %>
    	<li>
    		<h3>
                <a href="<%- url_for(post.path) %>">
        			<%= post.title %>
        		</a>
            </h3>
            <div class='text-muted'>
                <%= date(post.date, config.date_format) %> 
            </div>
            
            <% if(post.excerpt) { %>
                <p>
                    <%- post.excerpt %>
                </p>
            <% } %>
    	</li>
  	<% }) %>
	</ul>
</div>